In [2]:
from selenium import webdriver
import chromedriver_binary
browser = webdriver.Chrome()
browser.get('https://scraping-for-beginner.herokuapp.com/ranking/')

In [3]:
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')

In [12]:
elem_title = elem_rankingBox.find_element_by_class_name('u_title')
elem_title.text

'1\n観光地 1'

In [9]:
title = elem_title.text
title

'1\n観光地 1'

In [11]:
title.split('\n')[1]

'観光地 1'

In [41]:
# <span class="evaluateNumber">4.7</span>
elem = browser.find_element_by_class_name('u_rankBox')
elem.find_element_by_class_name('evaluateNumber')

In [43]:
#### 各項目の評価を取得

In [45]:
#<div class="u_categoryTipsItem col s12">
elem = browser.find_element_by_class_name('u_categoryTipsItem')

In [54]:
elem = browser.find_elements_by_class_name('is_rank')[1]
elem = elem.find_element_by_class_name('evaluateNumber')

In [55]:
elem.text

'4.5'

In [57]:
# 景色
elem = browser.find_elements_by_class_name('is_rank')[2]
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.9'

In [58]:
# アクセス　
elem = browser.find_elements_by_class_name('is_rank')[3]
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.2'

In [76]:
# <div class="u_areaListRankingBox row"> タイトル
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')
elem_title = elem_rankingBox.find_element_by_class_name('u_title').find_element_by_tag_name('h2')
elem_title.text

'1\n観光地 1'

In [82]:

len(elems_rankingBox)

10

In [200]:
elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')
# 全ての観光地名を格納するリスト　titlesを用意
titles = []
for elem_rankingBox in elems_rankingBox:
    elem_title = elem_rankingBox.find_element_by_class_name('u_title')
    title = elem_title.text.split('\n')[1]
    titles.append(title)

In [195]:
#### 総合評価
elems_rank = browser.find_elements_by_class_name('u_rankBox')
# len(elems_rank)
ranks = []
for elem_rank in elems_rank:
    elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')
    rank = float(elem_rank.text)
    ranks.append(float(rank))
ranks

[4.7, 4.7, 4.6, 4.5, 4.5, 4.4, 4.3, 4.3, 4.2, 4.1]

In [169]:
#### レビューを取得
elems = browser.find_elements_by_class_name('u_categoryTipsItem')

In [178]:
categories = []
for elem in elems:
    elems_rank = elem.find_elements_by_class_name('is_rank')
    
    _ranks = []
    for elem_rank in elems_rank:
        rank = elem_rank.find_element_by_class_name('evaluateNumber').text
        _ranks.append(float(rank))
    categories.append(_ranks)
categories

[[4.6, 4.5, 4.9, 4.2],
 [4.6, 4.5, 4.9, 4.2],
 [4.5, 4.4, 4.8, 4.1],
 [4.4, 4.4, 4.8, 4.0],
 [4.4, 4.3, 4.7, 4.0],
 [4.3, 4.3, 4.7, 3.9],
 [4.2, 4.2, 4.6, 3.8],
 [4.2, 4.2, 4.6, 3.8],
 [4.1, 4.1, 4.5, 3.7],
 [4.0, 4.1, 4.4, 3.6]]

In [202]:
#### pandasの形式に変換
import pandas as pd

In [206]:
df = pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [207]:
df['観光地名'] = titles
df['総合評価'] = ranks

In [215]:
df_categories = pd.DataFrame(categories)
df_categories.columns = ['楽しさ', '人混みの多さ', '景色', 'アクセス']
df_categories

   楽しさ  人混みの多さ   景色  アクセス
0  4.6     4.5  4.9   4.2
1  4.6     4.5  4.9   4.2
2  4.5     4.4  4.8   4.1
3  4.4     4.4  4.8   4.0
4  4.4     4.3  4.7   4.0
5  4.3     4.3  4.7   3.9
6  4.2     4.2  4.6   3.8
7  4.2     4.2  4.6   3.8
8  4.1     4.1  4.5   3.7
9  4.0     4.1  4.4   3.6

In [216]:
df = pd.concat([df, df_categories], axis=1)

     観光地名  総合評価  楽しさ  人混みの多さ   景色  アクセス
0   観光地 1   4.7  4.6     4.5  4.9   4.2
1   観光地 2   4.7  4.6     4.5  4.9   4.2
2   観光地 3   4.6  4.5     4.4  4.8   4.1
3   観光地 4   4.5  4.4     4.4  4.8   4.0
4   観光地 5   4.5  4.4     4.3  4.7   4.0
5   観光地 6   4.4  4.3     4.3  4.7   3.9
6   観光地 7   4.3  4.2     4.2  4.6   3.8
7   観光地 8   4.3  4.2     4.2  4.6   3.8
8   観光地 9   4.2  4.1     4.1  4.5   3.7
9  観光地 10   4.1  4.0     4.1  4.4   3.6